<mat-toolbar>
  <button mat-button (click)="goBack()">
    <mat-icon>chevron_left</mat-icon>
    Back
  </button>
</mat-toolbar>

<h2>Upload a record</h2>
<form style="display: flex; flex-direction: column; gap: 8px; margin-bottom: 128px;" onsubmit="return false;"
      [formGroup]="form">

  @if (!attachment()) {
    <div style="display: flex; gap: 8px;">
      <input #photoInput style="display: none;" type="file" (change)="onFileSelected($event)" accept="image/*"
             capture="user"/>
      <button color="primary" style="flex: 1;" mat-flat-button (click)="photoInput.click()">
        <mat-icon>add_a_photo</mat-icon>
        <span>Photo</span>
      </button>
      <input #videoInput style="display: none;" type="file" (change)="onFileSelected($event)" accept="video/*" capture="user"/>
      <button style="flex: 1;" mat-flat-button (click)="videoInput.click()">
        <mat-icon>video_camera_back_add</mat-icon>
        <span>Video</span>
      </button>
      <input #attachmentInput style="display: none;" type="file" (change)="onFileSelected($event)" accept="image/*, video/*"/>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="attachmentInput.click()">
          <mat-icon>attach_file_add</mat-icon>
          <span>Attach File</span>
        </button>
      </mat-menu>
      <button [matMenuTriggerFor]="menu" style="flex: 0; width: 48px" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  }
  <div style="display: flex; gap: 8px;">
    @if (attachmentDataUrl()) {
      <div>
        @if (isVideoType()) {
          <video controls height="100" width="150">
            <source [src]="attachmentDataUrl()" [type]="attachmentType()"/>
          </video>
        } @else {
          <div
            style="width: 150px; height: 100px; background-position: center; background-size: cover; background-repeat: no-repeat;"
            [style.background-image]="attachmentDataUrl() | image">
          </div>
        }
      </div>
      <div style="padding: 8px; display: flex; flex-direction: column; align-items: start; gap: 8px;">
        <span>Size: {{ humanAttachmentSize() }}</span>
        <span><mat-chip>{{ attachmentType() }}</mat-chip></span>
        <button mat-button (click)="removeAttachment()">
          <mat-icon>delete</mat-icon>
          <span>Clear</span>
        </button>
      </div>
    }</div>


  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Standards</mat-label>
    <mat-select formControlName="standards" multiple>
      <mat-select-trigger>
        {{ form.controls.standards.value?.[0] || '' }}
        @if ((form.controls.standards.value?.length || 0) > 1) {
          <span class="example-additional-selection">
          (+{{ (form.controls.standards.value?.length || 0) - 1 }} {{
              form.controls.standards.value?.length === 2 ? 'other' :
                'others'
            }})
        </span>
        }
      </mat-select-trigger>
      @for (group of strandGroups() | keyvalue; track group.key) {
        <mat-optgroup [label]="group.key">
          @for (standard of group.value; track standard.coding) {
            <mat-option [value]="standard.coding" style="padding-top: 4px; padding-bottom: 4px">
              {{ standard.description }}
              <strong>({{ standard.coding }})</strong>
            </mat-option>
          }
        </mat-optgroup>
      }
    </mat-select>
  </mat-form-field>

  <div class="surface-background" style="border-radius: 16px; position: fixed; right: 32px; bottom: 32px">
    @if (shouldShowCheckmark()) {
      <svg class="animation animation-1" viewBox="0 0 100 100">
        <path class="checkmark" d="M 25 50 l 15 15 l 35 -35"/>
      </svg>
    } @else {
      <button mat-fab extended color="accent" (click)="submit()"
              [disabled]="!attachment || isSubmitting() || !form.valid">
        <mat-icon>send</mat-icon>
        <span>Submit</span>
      </button>
    }
  </div>

  @if (isSubmitting()) {
    <div style="position: fixed; left: 0; bottom: 0; width: 100vw;">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  }

</form>
